/* Global Styles */
:root {
    --dark-teal: #063649;
    --med-teal: #209DB2;
    --bright-sun: #FFB300;
    --buttercup: #FFE195;
    --opal: #F3F5F5;
    --sky: #CFEAF3;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

/* Section Padding and Layout */
section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10% 0;
    max-width: 1080px;
    margin: 0 2rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Background Colors */
.bg-sky {
    background: var(--sky);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-opal {
    background: var(--opal);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-dark-teal {
    background: var(--dark-teal);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg-med-teal {
    background: var(--med-teal);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}