/* Global Styles */
:root {
    --dark-teal: #063649;
    --med-teal: #209DB2;
    --bright-sun: #FFB300;
    --buttercup: #FFE195;
    --opal: #F3F5F5;
    --sky: #CFEAF3;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    color: var(--dark-teal);
}

h1,.h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.white {
    color: white;
}

.max-1080 {
    max-width: 1080px;
}

/* Layout and Padding */
section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0 0 0 1rem;
}

li {
    padding: .25rem 0;
}

.container {
    padding: 10% 0;
    max-width: 1080px;
    margin: 0 2rem;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.column {
    width: 48%;
}

/* Text Colors */
.text-bright-sun {
    color: var(--bright-sun);
}

/* Background Colors */
.bg-sky {
    background: var(--sky);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-opal {
    background: var(--opal);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-dark-teal {
    background: var(--dark-teal);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg-med-teal {
    background: var(--med-teal);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg-teal-gradient {
    background: -moz-linear-gradient(90deg, rgba(6,54,73,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(6,54,73,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(6,54,73,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#063649",endColorstr="#ffffff",GradientType=1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 100;
}

/* Quick Styles */
.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-half {
    width: 50% !important;
}

.max-w-full {
    max-width: 100%;
}

.max-h-full {
    max-height: 100%;
}

.text-center {
    text-align: center;
}

.w-75 {
    width: 75%;
    margin: auto;
}

.mt {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-10 {
    margin-top: 10% !important;
}

.mb {
    margin-bottom: 1rem !important;
}

.w-icon {
    width: 7rem;
}

.m-auto {
    margin: auto;
}

.block {
    display: block;
    width: max-content;
}

/* Element Styles */
.hero-image {
    width: 100%;
}

.hero-logo {
    max-width: 150px;
    margin: 0 0 2rem 0;
}

.form-field {
    display: flex;
    width: 48%;
    flex-direction: column;
}

input, button {
    padding: .75rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

button, .btn {
    color: #063649;
    font-weight: bold;
    padding: .75rem 2rem;
    background-color: var(--bright-sun);
    transition: all 500ms;
    text-decoration: none;
    border-radius: 5px;
}

button:hover {
    background-color: var(--buttercup);
}

.btn:hover {
    background-color: var(--buttercup);
}

.element-margin {
    margin: 2rem 0 1.5rem 0;
}

img {
    border-radius: 10px;
}

.link-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    margin: 4rem 0;
}

.video-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    margin: 0 1rem;
    background-color: white;
    color: #063649;
    border-radius: 0 0 5px 5px;
}

.video-thumbnail {
    height: 150px;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
    border-top: 7px solid #209DB2 ;
}

.icon-link-section {
    display: flex;
    
}

.play-icon {
    max-width: 50px;
    transition: all 500ms;
}

.play-icon:hover {
    max-width: 62px;
}

.spacer {
    height: 5px;
    width: 100%;
    background-color: var(--med-teal);
    margin: -2rem -1rem;
}

.logo-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.featured-logo {
    max-width: 150px;
    padding: 1rem;
}

.right-image, .left-image {
    width: 100%;
}

table {
    width: 100%;
    padding: 1rem;
}

td {
    width: 33%;
    padding: 1rem;
}

tr {
    margin: 0;
    padding: 0;
}

th {
    font-size: 1.5rem;
    padding: 1.5rem 0;

}

caption {
    display: none;
    visibility: none;
}

.left-align {
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

table td:nth-child(2){
    background-color: var(--sky);
    border-radius: 5px;
}

table td:nth-child(3){
    background-color: #fff;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    padding: 1rem 0;
}

.footer-logo {
    max-width: 100px;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -100;
    margin: 0;
    padding: 0;
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.w-half {
    width: 50%;
}

.form-field-right {
    width: 100%;
    margin: 0 0 .5rem 0;
}

.form-right {
    background: var(--dark-teal);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.w-540 {
    width: 540px;
    contain: content;
}

.content-left {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}

.parent {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.div1 { 
    grid-area: 1 / 1 / 2 / 2;
    padding: 2rem;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.div2 { 
    grid-area: 1 / 2 / 2 / 3; 
    padding: 2rem;
    background-color: var(--dark-teal);
}

.w-40 {
    max-width: 40%;
}

.btn-form-right {
    width: fit-content;
    margin: 1rem 0 2rem 0;
}

.speaker-card {
    display: flex;
    align-items: center;

}

form {
    max-width: 540px;
    position: sticky;
    bottom: 2rem;
}

.speaker-image {
    max-width: 100px;
    border-radius: 50%;
    margin: 1rem 2rem 0 0;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


/* mobile devices styles */
@media screen and (max-width: 1080px) {
    .column {
        width: 100%;
    }

    .flex-col {
        flex-direction: column;
    }

    .form-field {
        width: 100%;
    }

    .hero-logo {
        padding-left: 2rem;
    }

    .hero-image {
        height: 20rem;
    }

    .icon-link-section {
        flex-wrap: wrap;
    }

    .gradient-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .w-half {
        width: 100%;
    }

    .link-card {
        margin: 0 auto;
    }

    .video-card {
        margin: 0 0 2rem 0;
    }

    .w-75 {
        width: 100%;
    }

    .featured-logo {
        max-width: 35%;
        margin: auto;
    }

    .right-image {
        margin-top: 1.5rem;
    }

    th {
        font-size: 1.15rem;
    }

    .footer {
        flex-direction: column;
        padding-top: 2rem;
        text-align: center;
    }

    .w-75 {
        margin: 0 !important;
    }

    .hero-container {
        margin: 0 2rem
    }

    .icon-link-section {
        width: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center;
    }

    .video-thumbnail {
        padding: 0;
        margin: 0;
    }

    .form-control-right {
        width: 100%;
        display: block;
    }
    
    h3 {
        font-size: 1.15rem;
    }

    form {
        position: relative;
    }

    .parent {
        grid-template-columns: 1fr;
    }

}